temp_mmap
pyconfounds/temp_mmap
data
pyconfounds/data
pyconfounds/lib/__pycache__
.ipynb_checkpoints
pyconfounds/.ipynb_checkpoints
pyconfounds/__pycache__/
pyconfounds/lib/.ipynb_checkpoints
pyconfounds/src/__pycache__
pyconfounds/src/*/__pycache__
pyconfounds/src/*/.ipynb_checkpoints
pyconfounds/*/__pycache__
pyconfounds/*/.ipynb_checkpoints
saved_memmaps*
slurm*
store*
